@media (min-width: 280px) and (max-width: 1150px) {
	.main_article ul,
	.private_office > .row_flex {
		display:block;
	}
	.main_article ul li {
		margin:0 5px 10px;
	}
	.private_left_col {
		margin:0 auto 20px;
	}
	.private_right_col {
		margin:0 auto;
	}
	.feedback .col {
		max-width:280px;
	}
}
@media (min-width: 280px) and (max-width: 1040px) {
	.section_specialists .row_flex,
	.mothers.row_flex,
	.feedback form > .row_flex {
		display:block;
	}
	.section_specialists .col {
		margin:0 5px 10px;
	}
	.detail_wrapp {
		padding:20px;
	}
	.left_col {
		margin:0 auto 10px;
	}
	.right_col {
		margin:0 auto;
	}
	.feedback .col {
		max-width:none;
	}
}
@media (min-width: 280px) and (max-width: 890px) {
	.main_title {
		padding-top:25px;
		display:block;
	}
	.main_title h1 {
		max-width:none;
		text-align:center;
		margin-bottom:10px;
	}
	.main_title div {
		margin:0 auto;
	}
	.select_category,
	.mothers_nav {
		display:block;
	}
	.select_category li,
	.mothers_nav li {
		width:100%;
		margin-bottom:25px;
	}
	footer {
		padding:50px 0;
	}
	footer .row_flex {
		text-align:center;
		display:block;
	}
	footer .text {
		max-width:none;
	}
	.instagram > a {
		text-align:left;
		margin-bottom:10px;
	}
	.detail_wrapp > div {
		display:block;
	}
	.detail_wrapp .img {
		margin:0 auto 10px;
	}
	.detail_wrapp .text {
		max-width:none;
	}
	.mothers_nav li a {
		display:block;
	}
	.mothers_nav li div {
		width:100%;
		text-align:center;
		padding:20px 0 15px;
	}
	.mothers_nav li p {
		width:100%;
		text-align:center;
	}
}
@media (min-width: 280px) and (max-width: 700px) {
	header {
		text-align:center;
		display:block;
	}
	header .logo,
	.call_back {
		margin:0 auto;
	}
	.address {
		margin:10px auto;
	}
	.search {
		padding-bottom:110px;
	}
	.search form {
		padding-left:25px;
	}
	.search .input {
		width:98%;
	}
	.search .submit {
		top:85px;
		left:50%;
		margin-left:-135px;
	}
	.entrance h3, 
	.registration h3, 
	.select_region h3 {
		font-size:5.4vw;
		text-indent:30px;
	}
	.select_region .row_flex,
	.mothers_list > ul > li > .row_flex {
		text-align:center;
		display:block;
	}
	.select_region .col {
		width:200px;
		margin:0 5px 10px;
	}
	.mothers_list > ul > li .text,
	.mothers_list > ul > li .prise {
		margin:0 auto;
	}
	.des {
		height:auto;
	}
	.des ul {
		padding:30px 20px;
	}
	.photos_documents, 
	.photos_customers {
		text-align:center;
		padding:20px 0 !important;
	}
	.photos_documents ul,
	.photos_customers ul {
		text-align:center;
	}
	.photos_documents ul li,
	.photos_customers ul li {
		margin:0 10px 10px;
	}
	.des ul li {
		height:auto;
		text-align:center;
		display:block;
	}
	.des ul li strong {
		margin-bottom:5px;
		display:block;
	}
	.des ul li p {
		max-width:none;
		margin-bottom:5px;
	}
	.des ul li a {
		position:static;
		margin:5px auto 0;
		display:block;
	}
	.reviews ul li,
	.feedback {
		padding:25px;
	}
	.reviews ul li {
		text-align:center;
		display:block;
	}
	.reviews ul li div {
		max-width:none;
		width:auto;
		margin-bottom:10px;
	}
}
@media (min-width: 280px) and (max-width: 480px) {
	h2 {
		font-size:26px;
		line-height:28px;
		margin-bottom:25px !important;
	}
	h1,
	.main_title h1 {
		font-size:15vw;
		line-height:13vw;
	}
	.select_category li div {
		width:35%;
	}
	.select_category li p {
		width:60%;
		font-size:30px;
	}
	.main_article ul li,
	.section_specialists .col {
		margin:0 0 15px;
	}
	.section_specialists .col {
		overflow:hidden;
	}
	.select_region .wrapp {
		padding:20px 10px;
	}
	footer {
		background-size:cover;
	}
	.bread-crumbs ul {
		text-align:center;
	}
	.bread-crumbs ul li {
		margin:0 15px 10px;
	}
	.left_col .wrapp {
		padding:0 10px;
	}
	.mothers_list > ul > li {
		padding:25px 10px 20px;
	}
	.title_toddlers,
	.title_mothers {
		padding:0;
	}
	.title .row {
		text-align:center;
		display:block;
	}
	.title .row div {
		margin:0;
		padding:30px 0 20px;
	}
	.align {
		text-align:center;
	}
	.feedback .submit {
		width:230px;
	}
}