@import url("reset.css");
@import url("font/stylesheet.css");

body {
	background:#fff;
	font-family: 'FFDINRoundProRegular';
	font-size:18px;
	color:#3d3d3d;
}

a {
	text-decoration:none;
}

a:hover,
a:active {
	text-decoration:underline;
}

.submit:hover,
.call_back div a:hover,
.main_article > a:hover,
.select_foto .button a:hover,
.reviews a:hover {
	text-decoration:none;
	opacity:.9;
}


h1 {
	font-family: 'FFDINRoundProBold';
	font-size:70px;
}

h2 {
	font-family: 'FFDINRoundProBold';
	font-size:36px;
	color:#000;
}

section {
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
}

.row_flex {
	justify-content:space-between;
	display:flex;
}

header {
	max-width:1200px;
	margin:0 auto;
	padding:20px 15px 16px;
	justify-content:space-between;
	display:flex;
}

header .logo {
	background:url(../images/logo.png);
	width:245px;
	height:78px;
	display:block;
}

.address {
	background:url(../images/icon-address.png) no-repeat;
	line-height:34px;
	color:#000;
	margin-top:12px;
	padding-left:53px;
	vertical-align:top;
	display:inline-block;
}

.call_back {
	width:270px;
	height:48px;
	margin-top:6px;
	justify-content:space-between;
	align-items:center;
	display:flex;
}

.call_back > a {
	border-bottom:2px solid #f1b487;
	font-family: 'FFDINRoundProBold';
	color:#000;
	padding-bottom:2px;
	display:block;
}

.call_back > a:hover {
	border-color:#fff;
	text-decoration:none;
}

.call_back div a {
	background:#f1b487;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:170px;
	height:48px;
	font-size:16px;
	line-height:18px;
	color:#fff;
	text-align:center;
	padding-top:5px;
	display:block;
}

.search {
	background:#f4eeea;
	padding:28px 0 32px;
}

.search form {
	position:relative;
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(255,246,240,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(255,246,240,0.75);
	box-shadow: 0px 5px 5px 0px rgba(255,246,240,0.75);
	height:75px;
	padding-left:70px;
}

.search .input {
	width:70%;
	height:75px;
	color:#000;
}

.search .submit {
	background:#c38fe5 url(../images/icon-submit.png) no-repeat 50px center;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	font-size:24px;
	color:#fff;
	position:absolute;
	top:0;
	right:0;
}

.main_title {
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
	justify-content:space-between;
	align-items:center;
	display:flex;
}

.main_title h1 {
	max-width:470px;
	width:100%;
	font-family: 'FFDINRoundProBold';
	font-size:70px;
	line-height:60px;
	color:#000;
}

.main_title div {
	max-width:558px;
	width:100%;
	margin-top:-34px;
}

.main_title img,
.main_article ul li img,
.detail_wrapp img {
	width:100%;
	height: auto;
	display:block;
}
.main_article ul li img {
	height: 285px;
}
.select_category {
	max-width:1200px;
	font-size:0;
	text-align:center;
	margin:0 auto;
	padding:0 15px 45px;
	justify-content:space-between;
	display:flex;
}

.select_category li {
	background:#ffd6b8;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-box-shadow: 0px 16px 19px 0px rgba(255,214,184,0.7);
	-moz-box-shadow: 0px 16px 19px 0px rgba(255,214,184,0.7);
	box-shadow: 0px 16px 19px 0px rgba(255,214,184,0.7);
	width:48.8%;
	height:220px;
	text-align:left;
	vertical-align:top;
	display:inline-block;
}

.select_category li+li {
	background:#f5fcc9;
	-webkit-box-shadow: 0px 16px 19px 0px rgba(228,236,175,1);
	-moz-box-shadow: 0px 16px 19px 0px rgba(228,236,175,1);
	box-shadow: 0px 16px 19px 0px rgba(228,236,175,1);
}

.select_category li a,
.mothers_nav li a {
	width:100%;
	height:100%;
	justify-content:space-between;
	align-items:center;
	display:flex;
}

.select_category li a:hover,
.mothers_nav li a:hover {
	text-decoration:none;
}

.select_category li div {
	width:40%;
	text-align:right;
}

.select_category li p {
	width:50%;
	font-family: 'FFDINRoundProBold';
	font-size:36px;
	color:#000;
}

.recently_registered {
	padding:45px 15px;
}

.recently_registered h2 {
	margin-bottom:40px;
}

.registered_slider {
	width:auto !important;
	text-align:center;
	padding:0 65px;
}

.registered_slider .item {
	padding-top:40px;
}

.registered_slider .item div,
.mothers_list > ul > li .icon {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	width:83px;
	height:83px;
	margin-bottom:20px;
	display:inline-block;
	overflow:hidden;
}

.owl-next,
.owl-prev {
	background:url(../images/arrow-slider.png);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
	box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:58px;
	height:58px;
	font-size:0;
	position:absolute;
	top:55px;
	left:0;
}

.owl-prev {
	background-position:right;
	left:auto;
	right:0;
}

.main_article {
	padding:45px 15px;
}

.main_article h2 {
	margin-bottom:70px;
}

.bread-crumbs {
	padding-bottom:60px;
}

.bread-crumbs ul {
	font-size:0;
}

.bread-crumbs ul li {
	position:relative;
	margin-right:15px;
	padding-right:24px;
	vertical-align:top;
	display:inline-block;
}

.bread-crumbs ul li:after {
	background:url(../images/sep.png);
	content:'';
	width:7px;
	height:11px;
	position:absolute;
	top:6px;
	right:0;
}

.bread-crumbs ul li:last-child:after {
	display:none;
}

.bread-crumbs ul li a {
	font-size:18px;
	color:#000;
	text-decoration:underline;
}

.bread-crumbs ul li a:hover,
.bread-crumbs ul li.active a {
	text-decoration:none;
}

.main_article > ul {
	font-size:0;
	text-align:center;
	padding-bottom:15px;
	justify-content:space-between;
	flex-wrap:wrap;
	display:flex;
}

.main_article > ul > li {
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	max-width:370px;
	width:100%;
	text-align:left;
	margin-bottom:50px;
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
}

.main_article ul li .text {
	min-height:130px;
	padding:30px 10px 10px 40px;
}

.main_article ul li .text a {
	font-size:24px;
	color:#000;
	text-decoration:underline;
}

.main_article ul li .text a:hover {
	text-decoration:none;
}

.main_article > a {
	background:#c38fe5;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	line-height:75px;
	color:#fff;
	text-align:center;
	margin:0 auto;
	display:block;
}

.section_specialists {
	padding:55px 15px 170px;
}

.section_specialists h2 {
	margin-bottom:100px;
}

.section_specialists .row_flex {
	font-size:0;
	text-align:center;
}

.section_specialists .col {
	max-width:370px;
	width:100%;
	text-align:left;
	vertical-align:top;
	display:inline-block;
}

.section_specialists .icon,
.left_col .icon {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:138px;
	height:138px;
	margin-bottom:50px;
	overflow:hidden;
}

.section_specialists .head,
.left_col .head {
	margin-bottom:18px;
	align-items:center;
	display:flex;
}

.section_specialists .head strong,
.left_col .head strong {
	font-family: 'FFDINRoundProBold';
	font-size:30px;
	color:#c38fe5;
	margin-right:28px;
}

.section_specialists .head div,
.left_col .head div {
	background:#ffd6b8;
	border:3px solid #fff;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:58px;
	height:58px;
	font-size:14px;
	line-height:53px;
	text-align:center;
	color:#000;
}

.section_specialists h3,
.left_col h3 {
	font-family: 'FFDINRoundProBold';
	font-size:24px;
	color:#000;
	margin-bottom:10px;
}

.section_specialists ul,
.left_col ul {
	padding-bottom:30px;
}

.section_specialists ul li a,
.left_col ul li a {
	font-size:24px;
	line-height:36px;
	color:#5f5f5f;
	display:block;
}

.article_detail {
	padding:75px 15px 65px;
}

.article_detail h1 {
	margin-bottom:55px;
}

.detail_wrapp {
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	padding:70px;
}

.detail_wrapp > div {
	margin-bottom:20px;
}

.detail_wrapp .img {
	max-width:370px;
	width:100%;
	margin:0 10px 10px 0;
}

.detail_wrapp .text {
	max-width:600px;
	width:100%;
	padding-top:10px;
}

.detail_wrapp .text h3 {
	font-size:24px;
	margin-bottom:34px;
}

.detail_wrapp .text p {
	line-height:21px;
}

.detail_wrapp > p {
	line-height:21px;
	margin-bottom:24px;
}

.title {
	height:235px;
}

.title_mothers {
	background:#ffd6b8;
	padding:70px 0;
}

.title_toddlers {
	background:#f5fcc9;
	padding:70px 0;
}

.title .row {
	align-items:center;
	display:flex;
}

.title .row div {
	margin-right:40px;
}

.container {
	padding:40px 15px 175px;
}

.mothers_nav {
	padding-bottom:55px;
	justify-content:space-between;
    display:flex;
}

.mothers_nav li {
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	width:48.8%;
	height:220px;
}

.mothers_nav li:hover,
.select_category li:hover {
	margin:-5px 0 5px;
}

.mothers_nav li div {
	width:35%;
	text-align:right;
}

.mothers_nav li p {
	width:60%;
	font-family: 'FFDINRoundProBold';
	font-size:30px;
	color:#c38fe5;
	text-align:left;
}

.left_col {
	background:#f4eeea;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	max-width:370px;
	width:100%;
	margin-right:10px;
	padding:50px 0 60px;
}

.left_col .wrapp {
	padding:0 50px 0 45px;
}

.left_col .head strong {
	width:140px;
	display:block;
}

.right_col {
	max-width:770px;
	width:100%;
}

.mothers_list > ul {
	padding-bottom:75px;
}

.mothers_list > ul > li {
	border:1px solid #d5d5d4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:4px;
	padding:30px 30px 27px 40px;
}

.mothers_list > ul > li .icon {
	margin-right:10px;
}

.mothers_list > ul > li .text {
	width: 100%;
	max-width:330px;
	padding-top:15px;
}

.mothers_list > ul > li .text a {
	font-size:24px;
	color:#000;
	margin-bottom:8px;
	display:block;
}

.mothers_list > ul > li .text p {
	margin-bottom:12px;
}

.like span {
	color:#000;
	margin-right:5px;
	vertical-align:middle;
	display:inline-block;
}

.like ul {
	font-size:0;
	vertical-align:middle;
	display:inline-block;
}

.like ul li {
	background:url(../images/star.png);
	width:13px;
	height:12px;
	margin:0 2px;
	vertical-align:top;
	display:inline-block;
}

.city {
	background:url(../images/icon-city.png) no-repeat;
	line-height:25px;
	color:#000;
	padding-left:35px;
}

.mothers_list > ul > li .prise {
	width:200px;
	padding-top:15px;
	justify-content:space-between;
	display:flex;
}

.mothers_list > ul > li .prise strong {
	font-family: 'FFDINRoundProBold';
	font-size:24px;
	color:#000;
}

.mothers_list > ul > li .prise span {
	font-size:24px;
}

.pagin {
	font-size:0;
	text-align:center;
}

.pagin li {
	margin:0 2px;
	vertical-align:top;
	display:inline-block;
}

.pagin li a {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:26px;
	height:26px;
	font-size:15px;
	line-height:26px;
	color:#5f5f5f;
	text-align:center;
	display:block;
}

.pagin li a:hover,
.pagin li.active a {
	background:#fadec9;
	text-decoration:none;
}

.private_office {
	padding:80px 15px 175px;
}

.private_office h1 {
	margin-bottom:70px;
}

.private_left_col {
	max-width:470px;
	width:100%;
	margin-right:10px;
}

.select_foto {
	text-align:center;
	margin-bottom:98px;
}

.select_foto .img {
	position:relative;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	width:213px;
	height:213px;
	margin-bottom:28px;
	display:inline-block;
	overflow:hidden;
}

.select_foto .img div {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:213px;
	height:213px;
}

.select_foto .img a {
	background:url(../images/plus.png) no-repeat center 24px, url(../images/bg-foto.png);
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	width:100%;
	height:100px;
	font-size:14px;
	line-height:115px;
	color:#fff;
	position:absolute;
	left:0;
	bottom:-100%;
}

.select_foto .img:hover a {
	bottom:0;
}

.select_foto strong {
	font-family: 'FFDINRoundProBold';
	font-size:30px;
	color:#000;
	padding:25px 0 20px;
	display:block;
}

.select_foto > a {
	background:url(../images/icon-pancil.png) no-repeat;
	font-size:18px;
	line-height:30px;
	color:#ab70d1;
	margin:0 auto;
	padding-left:40px;
	display:table;
}

.select_foto.dropped .phone-number-profile {
	display:none;
}

.select_foto .button {
	padding-top:30px;
}

.select_foto .button a {
	background:#c38fe5;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	line-height:75px;
	color:#fff;
	text-align:center;
	display:inline-block;
}

.photos_documents,
.photos_customers {
	border:1px solid #d5d5d4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:35px;
	    padding: 20px 35px 38px 35px;
}

.photos_documents h3,
.photos_customers h3 {
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	color:#000;
	margin-bottom:30px;
}

.photos_documents ul,
.photos_customers ul {
	font-size:0;
}

.photos_documents ul li {
	margin-right:15px;
	vertical-align:top;
	display:inline-block;
}

.edit {
	background:url(../images/icon-edit.png) no-repeat;
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	line-height:45px;
	color:#000;
	padding-left:65px;
	display:block;
}

.private_right_col {
	max-width:670px;
	width:100%;
}

.des {
	background:#f4eeea;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	height:auto;
	margin-bottom:98px;
}

.des > ul {
	padding:50px;
}

.des ul li {
	position:relative;
	height:auto;
	color:#000;
	margin-bottom:10px;
	justify-content:space-between;
	align-items:center;
	display:flex;
}

.des ul li strong {
	font-family: 'FFDINRoundProBold';
	font-size:24px;
}

.des ul li > div {
	position: relative;
    max-width: 330px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    vertical-align: middle;
    display: block;
}

.des ul li form,
.select_foto form,
.private_left_col form,
.private_right_col form {
	display:none;
}

.input_dropp {
	border:1px solid #d7d7d7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:260px;
	height:30px;
	color:#000;
	font-size:14px;
	line-height:30px;
	text-indent:15px;
}

.drop_down {
	background:url(../images/icon-pancil.png);
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}

.des ul li.active p,
.vote-success {
	display:none;
}

.des ul li.active form,
.select_foto.dropped form,
.private_left_col.dropped > form,
.private_right_col.dropped > form {
	display:block;
}
.select_foto.dropped form {
	padding: 25px 0 20px;
}

.private_left_col.dropped > form .input_dropp,
.private_right_col.dropped > form .input_dropp {
	width:100%;
	margin-top:10px;
}

.photos_customers ul li {
	margin-right:auto;
	vertical-align:top;
	display:inline-block;
}

.photos_customers {
	padding-bottom:38px;
}

.reviews {
	padding:48px 0 84px;
}

.reviews h2 {
	margin-bottom:40px;
}

.reviews ul {
	padding-bottom:40px;
}

.reviews ul li {
	border:1px solid #d5d5d4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:9px;
	padding:40px 10px 40px 85px;
	display:flex;
}

.reviews ul li div {
	max-width:310px;
	width:100%;
}

.reviews ul li h3 {
	font-family: 'FFDINRoundProBold';
	font-size:24px;
	color:#000;
}

.reviews ul li span {
	font-size:18px;
	line-height:24px;
}

.reviews ul li p {
	font-size:24px;
}

.reviews a {
	background:#c38fe5;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	line-height:75px;
	color:#fff;
	text-align:center;
	margin:0 auto;
	display:block;
}

.feedback {
	background:#fff;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
    -moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
    box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	padding:50px 70px 45px;
}

.feedback h2 {
	margin-bottom:45px;
}

.feedback .col {
	max-width:320px;
	width:100%;
	margin-bottom:21px;
	align-items:center;
}

.feedback p {
	width:114px;
	line-height:21px;
}

.feedback .input {
	border:1px solid #d5d5d4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
	height:66px;
	font-size:18px;
	color:#666666;
	text-indent:30px;
}

.feedback textarea {
	border:1px solid #d5d5d4;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
	height:150px;
	font-size:18px;
	color:#666666;
	text-indent:30px;
	margin-bottom:30px;
	padding-top:26px;
	resize:none;
}

.align {
	text-align:right;
}

.feedback .submit {
	background:#c38fe5;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	color:#fff;
}

footer {
	background:#fff3ea url(../images/bg-footer.jpg) no-repeat center top;
	padding:90px 0 110px;
}

footer .text {
	max-width:540px;
	width:100%;
}

footer .logo {
	background:url(../images/logo-footer.png);
	width:238px;
	height:76px;
	margin-bottom:35px;
	display:inline-block;
}

footer .text p {
	line-height:24px;
	color:#968578;
	max-width: 260px;
	margin-bottom:20px;
}

.instagram {
	width:200px;
	padding-top:27px;
	display:inline-block;
}

.instagram > a {
	background:url(../images/icon-insta.png) no-repeat right;
	line-height:45px;
	color:#000;
	margin-bottom:80px;
	display:block;
}

.instagram p {
	line-height:24px;
	color:#968578;
}

.instagram p a {
	color:#000;
	display:block;
}

#toTop {
	background:#c38fe5;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:95px;
	height:95px;
	line-height:95px;
	text-align:center;
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:10;
}

#toTop i {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 14px 8px;
	border-color: transparent transparent #ffffff transparent;
	display:inline-block;
}

.entrance,
.registration,
.select_region {
	position:relative;
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.23);
	box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.23);
	max-width:530px;
	width:100%;
	padding-bottom:105px;
	display:none;
}

.select_region {
	max-width:770px;
}

.mfp-content .entrance,
.mfp-content .registration,
.mfp-content .select_region {
	display:inline-block;
}

.entrance h3,
.registration h3,
.select_region h3 {
	background:#ffd6b8;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	height:125px;
	font-family: 'FFDINRoundProBold';
	font-size:26px;
	line-height:125px;
	color:#000;
}

.entrance p,
.registration p {
	font-size:14px;
	line-height:16px;
	color:#000;
	padding-top:10px;
}

.entrance p a,
.registration p a {
	color:#c38fe5;
}

.entrance form {
	max-width:370px;
	margin:0 auto;
	padding:60px 15px 0;
}

.entrance .input,
.registration .input {
	border:1px solid #d7d7d7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
	height:50px;
	color:#000;
	text-indent:25px;
	margin-bottom:13px;
}

:-ms-input-placeholder {
  	color:#000;
}

::-ms-input-placeholder {
  	color:#000;
}

::-webkit-input-placeholder {
  	color:#000;
}

:-moz-placeholder {
  	color:#000;
}

::-moz-placeholder {
  	color:#000;
}

:placeholder-shown {
  	color:#000;
}

.entrance .submit,
.registration .submit {
	background:#c38fe5;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:270px;
	height:75px;
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	color:#fff;
	margin-top:35px;
}

.popup_select {
	margin-bottom:13px;
}

.jq-selectbox {
	border:1px solid #d7d7d7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
	height:50px;
	text-align:left;
	    padding: 5px 10px;
	cursor:pointer;
}

.jq-selectbox__select-text {
	line-height:50px;
	color:#000;
	text-indent:25px;
}

.jq-selectbox__dropdown {
	background:#fff;
	border:1px solid #d7d7d7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100%;
	padding:10px 10px;
}

.jq-selectbox li {
	line-height:30px;
	color:#000;
	text-indent:25px;
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
	color:#c38fe5;
}

.registration form {
	max-width:370px;
	margin:0 auto;
	padding:38px 15px 0;
}

.foto_popup {
	background:#f4eafa;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	width:217px;
	height:205px;
	font-family: 'FFDINRoundProBold';
	margin-bottom:55px;
	padding-top:40px;
	display:inline-block;
}

.foto_popup a {
	background:#c38fe5 url(../images/cross.png) no-repeat center;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:90px;
	height:90px;
	margin-bottom:18px;
	display:inline-block;
}

.foto {
	font-family: 'FFDINRoundProBold';
	padding-top:30px;
}

.foto a {
	background:#c38fe5 url(../images/cross-small.png) no-repeat center;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:43px;
	height:43px;
	margin-bottom:18px;
	display:inline-block;
}

.select_region {
	padding:0;
}

.select_region .wrapp {
	padding:30px 60px 10px;
}

.select_region .col {
	width:30%;
	text-align:left;
	vertical-align:top;
	display:inline-block;
}

.select_region .col > a {
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	line-height:30px;
	color:#000;
	display:block;
}

.select_region strong {
	font-family: 'FFDINRoundProBold';
	font-size:18px;
	line-height:30px;
	color:#000;
	display:block;
}

.select_region ul {
	padding-bottom:35px;
}

.select_region ul li a {
	font-size:18px;
	line-height:30px;
	color:#3d3d3d;
	display:block;
}
.edit-delete-image {
	 /*   display: none;*/
    font-size: 14px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
.dropped .dropzone, .dropped .edit-delete-image {
	display: block;
}
.dropzone {
    padding: 20px 20px;
    width: 100%;
    border: 1px solid #d5d5d4;
    margin-top: 35px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.photos_documents ul li:last-child {
	margin-right: 0;
}
#region_form {
	flex: 1;
	-webkit-flex:1;
	display: flex;
	display: -webkit-flex;
}
.select_region .col {
	width: auto;
	flex: 1;
	-webkit-flex:1;
}
.text-danger {
	margin-bottom: 10px;
	color: red;
}
.cross {
	background: #c38fe5 url(../images/cross.png) no-repeat center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 18px;
    display: inline-block;
}
#register-form input[name="name"] {
	margin-top: 13px;
}
#profile-form {
	-webkit-justify-content: space-between;
	justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    width: 100%;
}
.input_dropp {
	display: none;
}
.dropped .input_dropp {
	display: inline-block;
}
.select_foto .input_dropp {
	margin: 23px 10px;
}
.private_right_col li.active .input_dropp {
	display: inline-block;
}
.private_right_col li .popup_select {
	display: none;
}
.private_right_col li.active .popup_select {
	display: inline-block;
    margin-top: 10px;
    line-height: 30px;
    width: 100%;
    max-width: 260px;
}
.private_right_col li.active .popup_select .jq-selectbox {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
}
.private_right_col li.active .popup_select .jq-selectbox .jq-selectbox__select-text {
    line-height: 100%;
}
.private_right_col li.active .popup_select .jq-selectbox__dropdown {
	top:30px!important;
}
.private_right_col .des > ul {
	padding: 25px 50px;
}
.mothers_list .like {
	flex: 1;
}
.mothers_list .city {
	flex: 1s;
}
.registration .dropzone {
	border:none;
	padding: 0px 20px;
	margin-top: 0;
}
#photoUserRegister  {
	margin-bottom: 20px;
}
.registration .dropzone .cross {
	width: 45px;
	height: 45px;
}
.registration .dropzone .dz-message {
	margin: 0;
}
#photoUserRegister .dropzone .dz-message {
	margin: 2em 0;
}
#photoUserRegister .cross {
	width: 90px;
	height: 90px;
}
.mothers li.active a, .mothers li a:hover  {
	text-decoration: underline;
	color:  #c38fe5	;
}
.mothers_list li img {
	width: 100%;
	height: 100%;
}
.pagin li {
    margin: 0 2px;
    vertical-align: middle;
    font-size: 15px;
    display: inline-block;
}
.pagin li span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 26px;
    background: #FFD6B8;
    height: 26px;
    font-size: 15px;
    line-height: 26px;
    color: #5f5f5f;
    text-align: center;
    display: block;
}
.pagin li:first-child span, .pagin li:last-child span {
	background: transparent;
}
#profile-form input[type="submit"] {
	background: #c38fe5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 270px;
    height: 75px;
    font-family: 'FFDINRoundProBold';
    line-height: 75px;
    color: #fff;
    text-align: center;
    margin: 50px auto 0;
    display: block;
}
.popup_select .jq-selectbox__select-text {
	line-height: 35px;
}
#profile-form {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.geo-block {
	padding-left: 53px;
}
.geo-block a {
	font-size: 12px;
}
.dropzone .dz-preview .dz-image {
	width: auto;
	max-width: 220px;
	height: auto;
	min-height: 100px;
}
.search-result-cont .right_col {
	max-width: 100%;
}
.search-result-cont .mothers_list > ul > li .text {
    max-width: 400px;
    width: 100%;
    padding-top: 15px;
}

#photoCustomer {
	width: 213px;
	height: 213px;
	margin: 0 0 28px 0;
	padding: 0;
	border: none;
	display: inline-block;
}

#photoCustomer .img {
	margin: 0;
	padding: 0;
}

#photoCustomer .dz-preview {
	margin: 0 0 28px 0;
}

#photoCustomer .dz-preview .dz-image {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	-moz-box-shadow: 0px 5px 68px 0px rgba(209,186,169,1);
	margin: 0 0 10px 0;
}

#profile-form .select_foto {
	min-height: 370px;
}
.text-about-me {
	display: block;
	width: 100%;
	margin-top: 30px;
}
.text-about-me label {
	display: block;
    font-family: 'FFDINRoundProBold';
    font-size: 24px;
}
.text-about-me textarea {
	width: 100%;
    resize: none;
    margin-top: 20px;
    border: 1px solid #d5d5d4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
}
.output-about-me {
	margin-top: 35px;
}
.output-about-me p {
	width: 100%;
    margin-top: 20px;
    border: 1px solid #d5d5d4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
}
.title-about-me {
	font-family: 'FFDINRoundProBold';
    font-size: 36px;
    color: #000;
}
.private_office .owl-carousel .owl-nav.disabled, .private_office .owl-carousel .owl-dots.disabled {
	display: block;
}
.private_office .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    max-height: 200px;
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.private_office .owl-next, .private_office .owl-prev {
    background: url(../images/arrow-slider.png);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
    box-shadow: 0px 5px 5px 0px rgba(255,214,184,1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 28px;
    height: 28px;
    background-size: cover;
    font-size: 0;
    position: absolute;
    top: 55px;
    left: 0;
}
.private_office .owl-next {
	left: auto;
	right: -25px;
	background-position-x: 28px;
}
.private_office .owl-prev {
	left: -25px;
}
.private_office .owl-carousel .owl-item img {
    display: block;
    height: max-content;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.lb-data .lb-close {
    background: url(../images/close-lb.png) top right no-repeat!important;
}
.user-card-body .select_foto strong {
	    padding: 25px 0 50px;
}
.text-success {
	width: 100%;
	text-align: center;
	color: green;
	position: relative;
	bottom: -25px;
}
.text-danger {
    margin-bottom: 10px;
    color: red;
    position: static;
    width: 100%;
    font-size: 15px;
}
.photos_documents {
	margin-right: 10px;
}
.photos_customers {
	margin-left: 10px;
	max-width: 623px;
}
.photos_documents, .photos_customers {
	flex: 1;
	margin-top: 20px;
}
.des, .select_foto {
	margin-bottom: 70px;
}
.row_my {
	width: 100%;
    clear: both;
    display: flex;
}
.photos_documents {
	max-width: 528px;
}
.profile-foot {
	text-align: center;
    width: 100%;
}
.private_left_col .text-danger {
	    margin-bottom: 0px;
    margin-top: 15px;
}
.add-spec {
	font-size: 12px;
	cursor: pointer;
}
.add-spec:hover {
	text-decoration: underline;
}
@media (max-width:1200px) {
	.photos_documents, .photos_customers {
	flex: 0;
	width: 100%;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
}
.row_my {
	display: block;
}
}
@media (max-width:700px) {
	.des ul li > div {
		max-width: 100%;
	}
}
.prise > div, .prise > span {
	flex: 1;
	-webkit-flex:1;
}
.prise > span {
	text-align: center;

}
.mothers_nav .active-page p {
	color: #ffd6b8;
}
.mothers_nav li:hover p {
	color: #ffd6b8;
}
#register-form .popup_select select {
	opacity: 1!important;

}
#register-form .popup_select .jq-selectbox__select {
	display: none;
}
.popup_select select {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px!important;
    color: #000;
    text-indent: 25px;
        -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#register-form .jq-selectbox {
    border: 0px solid #d7d7d7;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 0;
    cursor: pointer;
}
footer .text {
	max-width: 260px;
}
.middle-footer-text {
	    color: #968578;
	        max-width: 460px;
	        line-height: 24px;
	        margin-top: 20px;
}
@media (max-width: 890px) {
	footer .text p, .middle-footer-text  {
		max-width: 100%;
	}
}
.des li p {
	margin-left: 30px;
}
.private_right_col li.active .popup_select {
	max-width: 100%;
}
.private_right_col li.active .popup_select select {
	    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.private_right_col .input_dropp {
	width: 100%;
}