@font-face {
    font-family: 'FFDINRoundProRegular';
    src: url('FFDINRoundProRegular.eot');
    src: url('FFDINRoundProRegular.eot') format('embedded-opentype'),
         url('FFDINRoundProRegular.woff2') format('woff2'),
         url('FFDINRoundProRegular.woff') format('woff'),
         url('FFDINRoundProRegular.ttf') format('truetype'),
         url('FFDINRoundProRegular.svg#FFDINRoundProRegular') format('svg');
}

@font-face {
    font-family: 'FFDINRoundProBold';
    src: url('FFDINRoundProBold.eot');
    src: url('FFDINRoundProBold.eot') format('embedded-opentype'),
         url('FFDINRoundProBold.woff2') format('woff2'),
         url('FFDINRoundProBold.woff') format('woff'),
         url('FFDINRoundProBold.ttf') format('truetype'),
         url('FFDINRoundProBold.svg#FFDINRoundProBold') format('svg');
}